<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Constructor Injection -->
<bean id="student1" class="com.klu.springdi.model.Student">

<constructor-arg value="31488"/>
<constructor-arg value="sohan"/>
<constructor-arg value="CSE"/>
<constructor-arg value="3"/>

</bean>

<!-- Setter Injection -->
<bean id="student2" class="com.klu.springdi.model.Student">

<property name="course" value="AI"/>
<property name="year" value="2"/>

</bean>

</beans>
